@charset "UTF-8";

/* 폼 버튼 가운데 정렬 */
.formbtncenter {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10px;
}

.n_page{
  display: flex;
 margin-top:10px;
  margin-right: 10px;
}

  .btn.btn-primary2 {
    background: #1089ff !important;
    border: 1px solid #1089ff !important;
      margin-right: 10px;
    color: #fff !important; }

/* 프로필 */
.profile {
  	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height:250px;
}

.profile .txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .txt img{
	padding: 10px;
    width:  90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom:10px;
}

/* 프로필 */

/* 좌측메뉴 */

.middle {
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.menu {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    padding: 30px 0px;
}

.buttonitem {
    border-top: 1px solid #F8F9FA;
    overflow: hidden;
}

.menubtn {
    display: block;
    padding: 15px 20px;
    background: #F8F9FA;
    border: 8px;
    color: #808080;
    position: relative;
}

.menubtn::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #F8F9FA;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}

.menubtn i {
    margin-right: 10px;
}

.smenu {
    background: #1089FF;
    overflow: hidden;
    color: #F8F9FA;
    transition: max-height 0.3s;
    max-height: 0;
}

.smenu a {
    display: block;
    padding: 8px 26px;
    color:  #FFFFFF;
    margin: 4px 0;
    position: relative;
}

.smenu a::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #FFFFFF;
    left: 0;
    top: 0;
    transition: .3s;
    opacity: 0;
}

.smenu a:hover::before {
    opacity: 1;
}

.buttonitem:target .smenu {
    max-height: 10em;
}

/* 좌측메뉴  */

/* notice / adminMember 게시판 */

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap { /*notice list*/
    width: 100%;
    margin: 20px auto;
}

.board_wrap2 { /*notice Detail*/
    width: 70%;
    margin: 50px auto;
}
.board_wrap3 { /*notice write*/
    width: 70%;
    margin: 30px auto;
}

.board_title {
    margin-bottom: 10px;
}

.board_title strong {
    font-size: 2rem;
    color: #1089FF;
}

.board_title p {/*notice list*/
    margin-top: 2px;
    font-size: 1rem;
    color: #9999
}

.board_list {
    width: 100%;
    border-top: 1px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    font-size: 1rem;
}

.board_list > div.top > div {
    font-weight: 1500;
}
.board_list > div.top1 > div {
    font-weight: 250;
}


.board_list .num { /*notice list*/
    width: 7%;
}
.board_list .num1 { /*notice list*/
    width: 12%;
}
.board_list .bo_cate { /*notice list*/
    width: 15%;
}

.board_list .title {/*notice list*/
    width: 45%;
    text-align: center;
}
.board_list .title3 {/*a_notice list*/
    width: 40%;
/*     padding-left: 55px; */
}  


#titlepadding2{
	width: 45%;
    text-align: center;
    padding-left: 35px;
    text-align: left;
}

#titlepadding{
	width: 60%;
    text-align: center;
    padding-left: 35px;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
    
}

.board_list .writer {
    width: 10%;
}

.board_list .mem_id { /*notice list*/
    width: 15%;
}

.board_list .date { /*notice list*/
    width: 15%;
}
.board_list .date3 { /*a_notice list*/
    width: 15%;
}

.board_list .count {/*notice list*/
    width: 12%;
}
.board_list .count2 {/*notice list*/
    width: 10%;
}


.board_page a:first-child {
    border-left: 1px solid #ddd;
}

.board_view { /*notice detail*/
    width: 100%;
    border-top: 1.8px solid #000;
    
}

.board_view .title {/*notice detail*/
	margin-left: 5px;
    border-bottom: 1px dashed #ddd;
    font-size: 1.35rem;
    
}

.board_view .info {/*notice detail*/
    padding: 3px;
    border-bottom: 1px solid #999;
    font-size: 0;
    vertical-align: middle;
}

.board_view .info dl {/*notice detail*/
    position: relative;
    display: inline-block;
    padding: 0  20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1.5px;
    height: 25px;
    background: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1rem;
}

.board_view .info dl dt {

}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont { /*notice detail*/
    padding: 10px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 1.1rem;
}
/** 파일 넣는 부분 일렬로 */

/* .board_view .info dl:first-child::before { */
/* /*     display: none; */ */
/*         display: inline-block; */
/* } */

/* .board_view .file dl dt, */
/* .board_view .file dl dd { */
/*     display: inline-block; */
/*     font-size: 1rem; */
/* } */

.board_view .info2 {/*notice detail*/
    padding: 2px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info2 dl {/*notice detail*/
    position: relative;
    display: inline-block;
    padding: 0  20px;
}

.board_view .info2 dl:first-child {
    padding-left: 0;
}

.board_view .info2 dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1.5px;
    height: 25px;
    background: #ddd;
    margin: 2px;
}

.board_view .info2 dl:first-child::before {
    display: none;
}

.board_view .info2 dl dt,
.board_view .info2 dl dd {
    display: inline-block;
    font-size: 1rem;
}

.board_view .info2 dl dt {

}

.board_view .info2 dl dd {
    margin-left: 10px;
    color: #777;
}



.board_write {
    border-top: 2px solid #000;
}

.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    font-size: 0;
}

.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
}

.board_write .title dt,
.board_write .info dt {
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"] {
    padding: 15px;
    box-sizing: border-box;
}

.board_write .title input[type="text"] {
    width: 100%;
    height: 1.5px;;
}

.board_write .cont {
    border-bottom: 1px solid #000;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}
    
    
@media (max-width: 1000px) {
    .board_wrap {
        width: 100%;
        min-width: 300px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .board_list .num,
    .board_list .writer,
    .board_list .count {
        display: none;
    }

    .board_list .mem_id {
        width: 40%;
    }

    .board_list .date {
        width: 40%;
    }

    .board_list .title {
        text-indent: 10px;
    }

    .board_list .top .title {
        text-indent: 0;
    }

    .board_page a {
        width: 26px;
        height: 26px;
    }

    .board_page a.bt {
        padding-top: 7px;
    }
    
    .board_page a.num {
        padding-top: 6px;
    }

    .board_view .info dl {
        width: 50%;
        padding: 0;
    }

    .board_view .info dl:nth-child(-n+2) {
        margin-bottom: 5px;
    }

    .board_view .info dl::before {
        display: none;
    }

    .board_view .info dl dt,
    .board_view .info dl dd {
        font-size: 1.2rem;
    }

    .board_write .info dl {
        width: 49%;
    }

    .board_write .info dl:first-child {
        margin-right: 2%;
    }

    .board_write .title dt,
    .board_write .info dt {
        display: none;
    }

    .board_write .title dd,
    .board_write .info dd {
        width: 100%;
    }

    .board_write .title input[type="text"],
    .board_write .info input[type="text"],
    .board_write .info input[type="password"] {
        width: 100%;
    }

}



